<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.show_sql">true</property>
    <!--<property name="entitymanager.packages.to.scan">com.mycompany.models</property>-->
    <property name="connection.datasource">java:/comp/env/jdbc/test</property>
    <mapping class="com.mycompany.models.Person"/>
  </session-factory>
</hibernate-configuration>